<h1>Edit Cardio</h1>
<%= simple_form_for [current_user, @cardio_workout] do |f| %>
  <%= f.input :workout_type %>
  <%= f.input :date %>
  <%= f.input :time %>
  <%= f.input :training_type %>
  <%= f.input :duration_hours %>
  <%= f.input :duration_minutes %>
  <%= f.input :duration_seconds %>
  <%= f.input :distance %>
  <%= f.input :avg_pace %>
  <%= f.input :max_pace %>
  <%= f.input :avg_speed %>
  <%= f.input :max_speed %>
  <%= f.input :avg_hr %>
  <%= f.input :max_hr %>
  <%= f.input :kcal %>
  <%= f.input :ascent %>
  <%= f.input :descent %>
  <%= f.input :running_index %>
  <%= f.input :notes %>
  <%= f.submit %>
<% end %>
