<h3 class="banner">All Cardio Workouts</h3>
<hr>
<%= link_to "New Cardio Workout", new_user_cardio_workout_path(current_user) %>
<hr>
<% @cardio_workouts.each do |cardio_workout| %>
  <div class="cardio-card">
    <div class="date-time hor-flex cardio-grid-item">
      <div><%= cardio_workout.date.strftime('%d/%m/%Y') %></div>
      <div><%= cardio_workout.time.strftime('%H:%M') %></div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <%= link_to cardio_workout.workout_type, user_cardio_workout_path(current_user, cardio_workout.id) %>
      <div class="light">Activity</div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <%= cardio_workout.training_type %><div class="light">Training Type</div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <div><%= cardio_workout.distance %><em>km</em></div>
      <div class="light">Distance</div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <div><%= cardio_workout.avg_pace_minute %>:<%= cardio_workout.avg_pace_seconds.to_s.rjust(2, '0') %><em>min/km</em></div>
      <div class="light">Avg Pace</div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <div><%= cardio_workout.avg_hr %><em>bpm</em></div>
      <div class="light">Avg HR</div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <div><%= cardio_workout.kcal %><em>kcal</em></div>
      <div class="light">Calories</div>
    </div>
    <div class="hor-flex cardio-grid-item">
      <%= cardio_workout.duration_hours == 0 ? 0 : cardio_workout.duration_hours %>:<%= cardio_workout.duration_minutes.to_s.rjust(2, '0') %>:<%= cardio_workout.duration_seconds.to_s.rjust(2, '0') %><div class="light">Duration</div>
    </div>
    <div class="hor-flex cardio-grid-item cardio-icons">
      <div>
        <%= link_to edit_user_cardio_workout_path(current_user.id, cardio_workout.id) do %>
        <i class="far fa-edit"></i>
        <% end %>
      </div>
      <div>
        <%= link_to user_cardio_workout_path(current_user, cardio_workout.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
