<h3 class="banner">All Cardio Workouts</h3>
<hr>
<%= link_to "New Cardio", new_user_cardio_workout_path(current_user) %>
<hr>
<% @cardio_workouts.each do |cardio_workout| %>
  <div class="my-card">
    <div>
      <%= cardio_workout.date.strftime('%d/%m/%Y') %>
      <%= cardio_workout.time.strftime('%H:%M') %>
    </div>
    <div>
      <%= link_to cardio_workout.workout_type, user_cardio_workout_path(current_user, cardio_workout.id) %>
    </div>
    <div>
      <%= cardio_workout.training_type %>
    </div>
    <div>
      <%= cardio_workout.distance %>km
    </div>
    <div>
      <%= cardio_workout.avg_pace %>
    </div>
    <div>
      <%= cardio_workout.avg_hr %>
    </div>
    <div>
      <%= cardio_workout.kcal %>
    </div>
    <div>
      <%= cardio_workout.duration_hours %>:<%= cardio_workout.duration_minutes %>:<%= cardio_workout.duration_seconds %>
    </div>
    <div>
      <%= link_to edit_user_cardio_workout_path(current_user.id, cardio_workout.id) do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to user_cardio_workout_path(current_user, cardio_workout.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>
