<h1>Cardio Show</h1>
<p><%= @cardio_workout.workout_type %></p>
<p><%= @cardio_workout.date %></p>
<p><%= @cardio_workout.time %></p>
<p><%= @cardio_workout.training_type %></p>
<p><%= @cardio_workout.duration_hours %>:<%= @cardio_workout.duration_minutes %>:<%= @cardio_workout.duration_seconds %></p>
<p><%= @cardio_workout.distance %>km</p>
<p><%= @cardio_workout.avg_pace %>min/km</p>
<p><%= @cardio_workout.max_pace %>min/km</p>
<p><%= @cardio_workout.avg_speed %>kph</p>
<p><%= @cardio_workout.max_speed %>kph</p>
<p><%= @cardio_workout.avg_hr %>bpm</p>
<p><%= @cardio_workout.max_hr %>bpm</p>
<p><%= @cardio_workout.kcal %>kcal</p>
<p><%= @cardio_workout.ascent %>m</p>
<p><%= @cardio_workout.descent %>m</p>
<p><%= @cardio_workout.running_index %></p>
<p><%= @cardio_workout.notes %></p>

