<h3 class="banner">Weights Workouts</h3>
<hr>
<%= link_to "New Weights", new_user_weights_workout_path(current_user) %>
<hr>
<% @weights_workouts.each do |weights_workout| %>
  <div class="my-card">
    <div class="date-time hor-flex card-item-five">
      <div><%= weights_workout.date.strftime('%d/%m/%Y') %></div>
      <div><%= weights_workout.time.strftime('%H:%M') %></div>
    </div>
    <div class="hor-flex card-item-five">
      <div><%= link_to weights_workout.workout_type, user_weights_workout_path(current_user, weights_workout.id) %></div>
      <div class="light">Workout Type</div>
    </div>
    <div class="hor-flex card-item-five">
      <div><%= weights_workout.kcal %><em>kcal</em></div>
      <div class="light">Calories</div>
    </div>
    <div class="hor-flex card-item-five">
      <div><%= weights_workout.duration_hours %>:<%= weights_workout.duration_minutes.to_s.rjust(2, '0') %>:<%= weights_workout.duration_seconds %></div>
      <div class="light">Duration</div>
    </div>
    <div>
      <div><%= link_to edit_user_weights_workout_path(current_user, weights_workout.id) do %>
        <i class="far fa-edit"></i>
      <% end %></div>
      <div><%= link_to user_weights_workout_path(current_user, weights_workout.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
      <% end %></div>
    </div>
  </div>
<% end %>
