<h3 class="banner">New Weights Workout</h3>
<div class="form-box">
  <%= simple_form_for [current_user, @weights_workout] do |f| %>
    <%= f.input :workout_type %>
    <div class="one-line">
      <%= f.input :date, html5: true %>
      <%= f.input :time, html5: true %>
    </div>
    <%= f.input :notes %>
    <%= f.button :submit, "Save", class: "submit" %>
  <% end %>
</div>
