<h3><%= @weights_workout.workout_type %></h3>
<hr>
<div class="hor-flex">
  <% @exercises.each do |exercise| %>
    <h5>
      <strong>
        <%= exercise.name %> <%= link_to user_weights_workout_exercise_path(current_user, params[:id], exercise.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </strong>
    </h5>
    <% @exercise_sets = ExerciseSet.where(exercise_id: exercise.id) %>
    <table>
      <tr>
        <th width="33%">Kg</th>
        <th width="33%">Reps</th>
      </tr>
      <% @exercise_sets.each do |set| %>
        <tr>
          <td width="33%"><%= set.weight %></td>
          <td width="33%"><%= set.reps %></td>
          <td width="33%">
            <%= link_to user_weights_workout_exercise_exercise_set_path(user_id: current_user, weights_workout_id: params[:id], exercise_id: exercise.id, exercise_set_id: set.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr class="center">
      <%= simple_form_for [current_user, @weights_workout, exercise, @exercise_set] do |f| %>
        <th width="33%"><%= f.input :weight %></th>
        <th width="33%"><%= f.input :reps %></th>
        <td width="33%"><%= button_tag( :class => "btn") do %>
          <i class="fas fa-plus my-plus"></i>
        <% end %>
        </td>
      <% end %>
    </table>
  <% end %>
  <br>
  <hr>
</div>
<%= simple_form_for [current_user, @weights_workout, @exercise] do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>
