<div class="banner">
  <h3><%= @weights_workout.workout_type %></h3>
  <div>
    <p><%= @weights_workout.kcal %><em>kcal</em></p><p class="light">Calories</p>
  </div>
  <div>
    <p><%= @weights_workout.avg_hr %><em>bpm</em></p><p class="light">Average HR</p>
  </div>
  <div>
    <p><%= @weights_workout.max_hr %><em>bpm</em></p><p class="light">Max HR</p>
  </div>
  <div>
    <p><%= @weights_workout.duration_hours %>:<%= @weights_workout.duration_minutes.to_s.rjust(2, '0') %>:<%= @weights_workout.duration_seconds %></p><p class="light">Duration</p>
  </div>
</div>
<hr>
<div class="weights-box">
  <% @exercises.each do |exercise| %>
    <% @exercise_sets = ExerciseSet.where(exercise_id: exercise.id) %>
  <!-- Edit exercise Modal -->
  <div class="modal fade" id=<%= exercise.name %> tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Edit Exercise</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body my-modal">
        <%= simple_form_for [current_user, exercise] do |f| %>
          <%= f.input :name %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Save", class: "submit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="exercise-row">
    <div class="exercise-row-left">
      <div class="show-name">
      <div class="delete-exercise">
        <%= link_to user_weights_workout_exercise_path(current_user, params[:id], exercise.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
      <div class="exercise-name light" data-toggle="modal" data-target=<%= "#" + exercise.name %>>
        <%= exercise.name %>
      </div>
      </div>
      <div class="delete-exercise hide-name">
        <%= link_to user_weights_workout_exercise_path(current_user, params[:id], exercise.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
      <div class="exercise-name light hide-name" data-toggle="modal" data-target=<%= "#" + exercise.name %>>
        <%= exercise.name %>
      </div>
      <% @exercise_sets.each do |set| %>

        <!-- Edit Set Modal -->
        <div class="modal fade" id=<%= "set_" + set.id.to_s %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Edit Set</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [current_user, set] do |f| %>
                <%= f.input :weight, label: "Weight (kg)" %>
                <%= f.input :reps %>
              </div>
              <div class="modal-footer">
                <%= link_to "Delete Set", user_exercise_set_path(current_user, set), method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= f.button :submit, "Save", class: "submit" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="set-info">
          <div class="set-weight">
            <%= set.weight %><em>kg</em>
          </div>
          <div class="set-reps red" data-toggle="modal" data-target=<%= "#set_" + set.id.to_s %>>
            <%= set.reps < 10 ? " #{set.reps}" : set.reps %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="set-add-boxes">
      <%= simple_form_for [current_user, @weights_workout, exercise, @exercise_set] do |f| %>
      <div class="set-box-weight">
        <%= f.input :weight, label: false, placeholder: "kg" %>
      </div>
      <div class="set-box-reps">
        <%= f.input :reps, label: false, placeholder: "reps" %>
      </div>
        <%= button_tag( :class => "btn") do %>
          <div class="add-icon">
            <i class="fas fa-plus my-plus"></i>
          </div>
        <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="new-exercise-row">
    <%= simple_form_for [current_user, @weights_workout, @exercise] do |f| %>
      <div class="new-exercise-input">
        <%= f.input :name, label: false, placeholder: "Add Exercise" %>
      </div>
      <div class="add-icon">
        <%= button_tag( :class => "btn") do %>
          <i class="fas fa-plus my-plus"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class="form-box">
<%= simple_form_for [current_user, @weights_workout] do |f| %>
  <%= f.input :notes %>
  <div class="one-line">
    <div class="duration">
      <%= f.input :duration_hours, placeholder: "hh", label: "Duration" %>
      <%= f.input :duration_minutes, placeholder: "mm", label: '&nbsp;'.html_safe %>
      <%= f.input :duration_seconds, placeholder: "ss", label: '&nbsp;'.html_safe %>
    </div>
  </div>
  <div class="one-line">
    <%= f.input :avg_hr, label: "Average HR (bpm)" %>
    <%= f.input :max_hr, label: "Max HR (bpm)" %>
    <%= f.input :kcal, label: "Calories Burned (kcal)" %>
  </div>
  <%= f.button :submit, "Save", class: "submit" %>
<% end %>
</div>


