<div class="flex banner">
  <p><%= @user.name %></p>
  <p>Weight: <%= @latest_stats.weight %>kg</p>
  <p>Body Fat: <%= @latest_stats.body_fat %>%</p>
  <p>Lean Mass: <%= @latest_stats.lean_mass %>kg</p>
  <p>BMI: <%= @latest_stats.bmi %></p>
</div>
<hr>
<% @results.each do |result| %>
  <div class="my-card">
    <% if result.class == CardioWorkout %>
      <div>
        <p><%= link_to "Cardio", user_cardio_workout_path(current_user, result.id) %></p>
        <p><%= result.workout_type %></p>
        <p><%= if result.class == CardioWorkout then result.training_type end %></p>
      </div>
    <% else %>
      <div>
        <p><%= link_to "Weights", user_weights_workout_path(current_user, result.id) %></p>
        <p><%= result.workout_type %></p>
        <p><%= if result.class == CardioWorkout then result.training_type end %></p>
      </div>
    <% end %>
    <div>
      <p><%= result.date.strftime('%d/%m/%Y') %></p>
      <p><%= result.time.strftime('%H:%M') %></p>
    </div>
    <div>
      <%= result.duration_hours %>:<%= result.duration_minutes %>:<%= result.duration_seconds %>
    </div>
  </div>
<% end %>
