

<div class="banner main-page">
  <h3><%= @user.name %></h3>
  <div>
    <p class="red date-time"><%= @latest_stats.weight %><em>kg</em></p><p class="light">Weight</p>
  </div>
  <div>
    <p class="red date-time"><%= @latest_stats.body_fat %><em>%</em></p><p class="light">Body Fat</p>
  </div>
  <div>
    <p class="red date-time"><%= @latest_stats.lean_mass %><em>kg</em></p><p class="light">Lean Mass</p>
  </div>
  <div>
    <p class="red date-time"><%= @latest_stats.bmi %></p><p class="light">BMI</p>
  </div>
</div>
<hr>
<% @results.each do |result| %>
  <div class="my-profile-card">
    <div class="date-time card-item-four">
      <div><%= result.date.strftime('%d/%m/%Y') %></div>
      <div><%= result.time.strftime('%H:%M') %></div>
    </div>
    <% if result.class == CardioWorkout %>
      <div class="hor-flex card-item-four">
        <div><%= link_to result.workout_type, user_cardio_workout_path(current_user, result.id) %></div>
        <div class="light"><%= result.training_type %></div>
      </div>
    <% else %>
      <div class="hor-flex card-item-four">
        <div><%= link_to result.workout_type, user_weights_workout_path(current_user, result.id) %></div>
      </div>
    <% end %>
    <div class="hor-flex card-item-four">
      <div><%= result.kcal %><em>kcal</em></div>
      <div class="light">Calories</div>
    </div>
    <div class="hor-flex card-item-four">
      <div><%= result.duration_hours %>:<%= result.duration_minutes.to_s.rjust(2, '0') %>:<%= result.duration_seconds.to_s.rjust(2, '0') %></div>
      <div class="light">Duration</div>
    </div>
  </div>
<% end %>
