<div class="flex banner">
  <p><%= @user.name %></p>
  <p>Weight: <%= @latest_stats.weight %>kg</p>
  <p>Body Fat: <%= @latest_stats.body_fat %>%</p>
  <p>Lean Mass: <%= @latest_stats.lean_mass %>kg</p>
  <p>BMI: <%= @latest_stats.bmi %></p>
</div>
<hr>
<% @results.each do |result| %>
  <div class="my-card">
    <div class="date-time">
      <div><%= result.date.strftime('%d/%m/%Y') %></div>
      <div><%= result.time.strftime('%H:%M') %></div>
    </div>
    <% if result.class == CardioWorkout %>
      <div>
        <div><%= link_to result.workout_type, user_cardio_workout_path(current_user, result.id) %></div>
        <div class="light"><%= result.training_type %></div>
      </div>
    <% else %>
      <div>
        <div><%= link_to result.workout_type, user_weights_workout_path(current_user, result.id) %></div>
      </div>
    <% end %>
    <div>
      <div><%= result.duration_hours %>:<%= result.duration_minutes %>:<%= result.duration_seconds %></div><div class="light">Duration</div>
    </div>
  </div>
<% end %>
