<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="btn-group">
          <%= link_to "Home", user_path(current_user), class: "my-nav-link" %>
          <div class=" white nav-item dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </div>
          <div class="dropdown-menu">
            <%= link_to "Edit My Profile", edit_user_registration_path, class: "dropdown-item red" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item red" %>
          </div>
        </div>
        <li class="nav-item">
          <%= link_to "Back", :back, class: "my-nav-link" %>
        </li>
        <div class="dropdown">
          <a class="my-nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Body Measurements
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "History", user_stats_path(current_user), class: "dropdown-item red" %>
            <%= link_to "New Measurement", new_user_stat_path(current_user), class: "dropdown-item red" %>
          </div>
        </div>
        <div class="dropdown">
          <a class="my-nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Workouts
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Cardio Workouts", user_cardio_workouts_path(current_user), class: "dropdown-item red" %>
            <%= link_to "Weights Workouts", user_weights_workouts_path(current_user), class: "dropdown-item red" %>
          </div>
        </div>
        <div class="dropdown">
          <a class="my-nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New Workout
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "New Cardio", new_user_cardio_workout_path(current_user), class: "dropdown-item red" %>
            <%= link_to "New Weights", new_user_weights_workout_path(current_user), class: "dropdown-item red" %>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "my-nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
