<h3 class="banner">Edit Measurement</h3>
<div class="form-box">
  <%= simple_form_for [current_user, @stat] do |f| %>
    <%= f.input :date, html5: true %>
    <%= f.input :time, html5: true %>
    <%= f.input :weight, label: "Weight (kg)" %>
    <%= f.input :body_fat, label: "Body Fat (%)" %>
    <%= f.button :submit, "Save", class: "submit" %>
  <% end %>
</div>
