<h1>Stats Index</h1>
<% @stats.each do |stat| %>
<p><%= stat.date %> - <%= stat.time %> - <%= stat.weight %>kg - <%= stat.body_fat %>% - <%= stat.lean_mass %>kg - <%= stat.bmi %> BMI <%= link_to "Edit", edit_user_stat_path(user_id: current_user.id, id: stat.id) %></p>
<% end %>
