<h3 class="banner">Body Measurements</h3>
<hr>
<%= link_to "New Stat", new_user_stat_path(current_user) %>
<hr>
<% @stats.each do |stat| %>
  <div class="my-card">
    <div class="date-time hor-flex">
      <div><%= stat.date.strftime('%d/%m/%Y') %></div>
      <div><%= stat.time.strftime('%H:%M') %></div>
    </div>
    <div class="hor-flex">
      <div><%= stat.weight %>kg</div><div class="light">Weight</div>
    </div>
    <div class="hor-flex">
      <div><%= stat.body_fat %>%</div><div class="light">Body Fat</div>
    </div>
    <div class="hor-flex">
      <div><%= stat.lean_mass %>kg</div><div class="light">Lean Mass</div>
    </div>
    <div class="hor-flex">
      <div><%= stat.bmi %></div><div class="light">BMI</div>
    </div>
    <div>
      <div>
        <%= link_to edit_user_stat_path(current_user, stat.id) do %>
        <i class="far fa-edit"></i>
        <% end %>
      </div>
      <div>
        <%= link_to user_stat_path(current_user, stat.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
