<div class="banner">
  <h3>Add Measurement</h3>
</div>
<div class="box">
  <%= simple_form_for [current_user, @stat] do |f| %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :weight %>
    <%= f.input :body_fat %>
    <%= f.button :submit, "Add Measurement", class: "submit" %>
  <% end %>
</div>
