<div class="banner">
  <h3>Add Measurement</h3>
</div>
<div class="form-box">
  <%= simple_form_for [current_user, @stat] do |f| %>
    <%= f.input :date, html5: true %>
    <%= f.input :time, html5: true %>
    <%= f.input :weight %>
    <%= f.input :body_fat %>
    <%= f.button :submit, "Save", class: "submit" %>
  <% end %>
</div>
